<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <input type="image" src="../images/chevron-left.jpg" name="image" class="prev" height="180" style="float:left;top:40%;position:absolute;left:15%;"/>
    <input type="image" src="../images/chevron-right.jpg" name="image" class="next" height="180" style="float:right;top:40%;position:absolute;right:15%;"/>
    <div class="container">
        <ul class="nxc-carousel">
            <li><div>
                <h1 class="nxc-carousel-h1">ECHANGEZ !</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

                <form action="" ng-submit="add_product();">
                    <div style="margin-bottom:1em"><div class="inlinekeblo"><div class="rectangle">JE POSSEDE</div><div class="arrow"/>
                        <input class="search-input" type=text placeholder="Ajouter un produit" ng-model="iwant"/></div></div>
                    <div style="margin-bottom:1em"><div class="inlinekeblo"><div class="rectangle">JE RECHERCHE</div><div class="arrow"/>
                        <input class="search-input" type=text placeholder="Ajouter un produit" ng-model="ihave"/></div></div>
                    <input type=submit class="centered nxc-button"/>
                </form>
            </div></li>
            <li><div>mdr</div></li>
            <li><div>ptdr</div></li>
            <li><div>lol</div></li>
            <div class="clearfix"></div>
    </div>
</div>
</div><!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row grey">
        <div class="col-lg-3 no-pad">
            <div class="presentation"><img class="img-circle" data-src="holder.js/120x120" alt="Generic placeholder image"></div>
            <div class="presentation-text">
                <h3>ECHANGEZ !</h3>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <a class="btn-link" href="#" role="button">View details &raquo;</a>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 no-pad">
            <div class="presentation"><img class="img-circle" data-src="holder.js/120x120" alt="Generic placeholder image"></div>
            <div class="presentation-text">
                <h3>GET LUCKY...</h3>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <a class="btn-link" href="#" role="button">View details &raquo;</a>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 no-pad">
            <div class="presentation"><img class="img-circle" data-src="holder.js/120x120" alt="Generic placeholder image"></div>
            <div class="presentation-text">
                <h3>ENVIE DE MISER ?</h3>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <a class="btn-link" href="#" role="button">View details &raquo;</a>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 no-pad">
            <div class="presentation"><img class="img-circle" data-src="holder.js/120x120" alt="Generic placeholder image"></div>
            <div class="presentation-text">
                <h3>NOTRE CONCEPT</h3>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <a class="btn-link" href="#/#next-page">View details &raquo;</a>
            </div>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <div class="container" id="next-page">
        <div class="bookmarkRibbon" />
        <div class="bookmarkRibbon" />
        <div class="bookmarkRibbon" />
    </div>

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
        <div class="col-lg-9">
            <h2 class="featurette-heading">NEWXCHANGER ?</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-lg-3">
            <img class="featurette-image img-responsive img-circle" data-src="holder.js/300x300/auto" alt="Generic placeholder image">
        </div>
    </div>

    <div class="row last-products">
        <div class="col-lg-3">
            <h4>DERNIERS PRODUITS AJOUTES</h4>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-lg-9">
            <input type="image" src="../images/chevron-right.jpg" name="image" id="last_products_next" height="100" style="float:left;position:absolute;"/>
            <div class="last_products">
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
                <img data-src="holder.js/150x200/auto" alt="basketball" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<script src="bower_components/holderjs/holder.js"></script>
<script src="bower_components/roundabout/jquery.roundabout.js"></script>
<script src="bower_components/carouFredSel/jquery.carouFredSel-6.2.1.js"></script>

<script>
    $(document).ready(function() {
        $(".nxc-carousel").roundabout({
            btnNext: ".next",
            btnPrev: ".prev",
            minScale: 0.1,
            maxScale: 0.9
        });
    });

    $(document).ready(function() {
        // Using custom configuration
        $(".last_products").carouFredSel({
            width: 850,
            align: "left",
            direction: "left",
            items: 5,
            scroll: 1,
            next: "#last_products_next"
        });
    });
</script>